.logo {
  width: 200px;
  margin: 0 auto;

  position: relative;
  border-width: 0 75px 0 75px;
  border-color: transparent transparent #ec1477 transparent;
  border-style: solid;
  filter: drop-shadow(0 0 50px #e63886);
}
.logo::after {
  position: absolute;
  content: "";
  border-width: 0 60px 120px 60px;
  border-color: transparent transparent #231f20 transparent;
  border-style: solid;
  top: 20px;
  left: -60px;
}